netatmoApi:
	baseUrl: 'https://api.netatmo.com/'

credentials:
	clientId: ''
	clientSecret: ''
	username: ''
	password: ''

devices:
	healthyHomeCoach:
		room1:
			macAddress: ''

logger:
	name: 'ofce-netatmo'
	handlers:
		- Monolog\Handler\NullHandler()